<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- DataSource Bean (HERE WE NEED CREDENTIALS AND NAME OF THE DATABASE FOR ACCESS) -->
    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/DATABASE URL HERE"/>
        <property name="username" value="USERNAME HERE"/>
        <property name="password" value="PASSWORD HERE"/>
    </bean>

    <!-- JPA EntityManagerFactory Bean -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.wwsis.sss.entity"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
    </bean>

    <!-- JPA TransactionManager Bean -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- DAO Beans -->
    <bean id="studentDao" class="com.wwsis.sss.dao.impl.StudentDaoImpl"/>
    <bean id="subjectDao" class="com.wwsis.sss.dao.impl.SubjectDaoImpl"/>
    <bean id="gradeDao" class="com.wwsis.sss.dao.impl.GradeDaoImpl"/>

</beans>
